<footer>
    <div class="footer-container">
        <div class="footer-contact">
            <p>м. Київ, вул. Лесі Українки, 36</p>
            <p><a href="tel:+380441234567">+38 (097) 000-00-00</a></p>
            <p><a href="mailto:info@lazurnyi.com">info@lazurnyi.com</a></p>
        </div>

        <!-- <div class="footer-links">
            <a href="index.html">Головна</a>
            <a href="news.html">Новини</a>
            <a href="info.html">Довідник</a>
            <a href="login.html">Авторизація</a>
        </div> -->

    </div>
</footer>